USE [master]
GO
/****** Object:  Database [QuanLyThuoc_ChongChiDinh]    Script Date: 23/06/2026 1:38:03 SA ******/
CREATE DATABASE [QuanLyThuoc_ChongChiDinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuoc_ChongChiDinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuoc_ChongChiDinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuoc_ChongChiDinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuoc_ChongChiDinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuoc_ChongChiDinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuoc_ChongChiDinh]
GO
/****** Object:  Table [dbo].[AccountRequests]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRequests](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[emailOrPhone] [nvarchar](100) NOT NULL,
	[vaiTro] [nvarchar](50) NOT NULL,
	[lyDo] [nvarchar](255) NULL,
	[trangThai] [nvarchar](50) NULL,
	[ngayYeuCau] [datetime] NULL,
	[ngayXuLy] [datetime] NULL,
	[nguoiXuLyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[tenBang] [varchar](50) NOT NULL,
	[hanhDong] [nvarchar](50) NOT NULL,
	[thoiGian] [datetime] NOT NULL,
	[giaTriCu] [nvarchar](max) NULL,
	[giaTriMoi] [nvarchar](max) NULL,
	[lyDoOverride] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[benhNhanID] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[canNang] [float] NULL,
	[tienSuBenh] [nvarchar](500) NULL,
	[isMangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[benhNhanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonThuoc]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonThuoc](
	[chiTietID] [int] IDENTITY(1,1) NOT NULL,
	[donThuocID] [int] NOT NULL,
	[thuocID] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[lieuMoiLan] [float] NULL,
	[soLanDungNgay] [int] NULL,
	[tongLieuNgay]  AS ([lieuMoiLan]*[soLanDungNgay]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[chiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ChiTietDonThuoc_KhongTrung] UNIQUE NONCLUSTERED 
(
	[donThuocID] ASC,
	[thuocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChongChiDinh]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChongChiDinh](
	[ruleID] [int] IDENTITY(1,1) NOT NULL,
	[thuocID] [int] NOT NULL,
	[loaiDoiTuong] [nvarchar](50) NOT NULL,
	[toanTu] [varchar](10) NULL,
	[giaTriSoSanh] [nvarchar](50) NULL,
	[mucDo] [nvarchar](50) NOT NULL,
	[moTaHauQua] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ruleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuoc]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuoc](
	[donThuocID] [int] IDENTITY(1,1) NOT NULL,
	[bacSiID] [int] NOT NULL,
	[benhNhanID] [int] NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[chanDoan] [nvarchar](500) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[donThuocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [varchar](50) NOT NULL,
	[matKhauHash] [varchar](255) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[vaiTro] [nvarchar](50) NOT NULL,
	[trangThai] [bit] NOT NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomThuoc]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomThuoc](
	[nhomThuocID] [int] IDENTITY(1,1) NOT NULL,
	[tenNhom] [nvarchar](120) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[trangThai] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nhomThuocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[settingKey] [varchar](50) NOT NULL,
	[settingValue] [nvarchar](max) NOT NULL,
	[description] [nvarchar](255) NULL,
	[updatedAt] [datetime] NULL,
	[updatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[settingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[thuocID] [int] IDENTITY(1,1) NOT NULL,
	[maATC] [varchar](20) NOT NULL,
	[nhomThuocID] [int] NULL,
	[tenThuongMai] [nvarchar](150) NOT NULL,
	[hoatChat] [nvarchar](150) NOT NULL,
	[hamLuong] [nvarchar](50) NULL,
	[donViTinh] [nvarchar](20) NULL,
	[tonKhoHienTai] [int] NOT NULL,
	[tonToiThieu] [int] NOT NULL,
	[ngaySanXuat] [date] NULL,
	[ngayHetHan] [date] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[giaBan] [decimal](18, 2) NOT NULL,
	[moTa] [nvarchar](500) NULL,
	[doiTuong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[thuocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[maATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuongTacThuoc]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuongTacThuoc](
	[tuongTacID] [int] IDENTITY(1,1) NOT NULL,
	[maATC_1] [varchar](20) NOT NULL,
	[maATC_2] [varchar](20) NOT NULL,
	[mucDo] [nvarchar](50) NOT NULL,
	[coCheTacDung] [nvarchar](500) NULL,
	[huongXuTri] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[tuongTacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TuongTacThuoc_KhongTrung] UNIQUE NONCLUSTERED 
(
	[maATC_1] ASC,
	[maATC_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonThuoc_DonThuocID]    Script Date: 23/06/2026 1:38:03 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonThuoc_DonThuocID] ON [dbo].[ChiTietDonThuoc]
(
	[donThuocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonThuoc_BenhNhanID]    Script Date: 23/06/2026 1:38:03 SA ******/
CREATE NONCLUSTERED INDEX [IX_DonThuoc_BenhNhanID] ON [dbo].[DonThuoc]
(
	[benhNhanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Thuoc_MaATC]    Script Date: 23/06/2026 1:38:03 SA ******/
CREATE NONCLUSTERED INDEX [IX_Thuoc_MaATC] ON [dbo].[Thuoc]
(
	[maATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Thuoc_TenThuongMai]    Script Date: 23/06/2026 1:38:03 SA ******/
CREATE NONCLUSTERED INDEX [IX_Thuoc_TenThuongMai] ON [dbo].[Thuoc]
(
	[tenThuongMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountRequests] ADD  DEFAULT ('ChoDuyet') FOR [trangThai]
GO
ALTER TABLE [dbo].[AccountRequests] ADD  DEFAULT (getdate()) FOR [ngayYeuCau]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [thoiGian]
GO
ALTER TABLE [dbo].[BenhNhan] ADD  DEFAULT ((0)) FOR [isMangThai]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT (N'Hoàn thành') FOR [trangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[NhomThuoc] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[NhomThuoc] ADD  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [tonKhoHienTai]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [tonToiThieu]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT (N'Hoạt động') FOR [trangThai]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [giaBan]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT (N'Tất cả') FOR [doiTuong]
GO
ALTER TABLE [dbo].[AccountRequests]  WITH CHECK ADD FOREIGN KEY([nguoiXuLyID])
REFERENCES [dbo].[NguoiDung] ([userId])
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_NguoiDung] FOREIGN KEY([userID])
REFERENCES [dbo].[NguoiDung] ([userId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_NguoiDung]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonThuoc_DonThuoc] FOREIGN KEY([donThuocID])
REFERENCES [dbo].[DonThuoc] ([donThuocID])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [FK_ChiTietDonThuoc_DonThuoc]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonThuoc_Thuoc] FOREIGN KEY([thuocID])
REFERENCES [dbo].[Thuoc] ([thuocID])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [FK_ChiTietDonThuoc_Thuoc]
GO
ALTER TABLE [dbo].[ChongChiDinh]  WITH CHECK ADD  CONSTRAINT [FK_ChongChiDinh_Thuoc] FOREIGN KEY([thuocID])
REFERENCES [dbo].[Thuoc] ([thuocID])
GO
ALTER TABLE [dbo].[ChongChiDinh] CHECK CONSTRAINT [FK_ChongChiDinh_Thuoc]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_BenhNhan] FOREIGN KEY([benhNhanID])
REFERENCES [dbo].[BenhNhan] ([benhNhanID])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_BenhNhan]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_NguoiDung] FOREIGN KEY([bacSiID])
REFERENCES [dbo].[NguoiDung] ([userId])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_NguoiDung]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD FOREIGN KEY([updatedBy])
REFERENCES [dbo].[NguoiDung] ([userId])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_NhomThuoc] FOREIGN KEY([nhomThuocID])
REFERENCES [dbo].[NhomThuoc] ([nhomThuocID])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_NhomThuoc]
GO
ALTER TABLE [dbo].[TuongTacThuoc]  WITH CHECK ADD  CONSTRAINT [FK_TuongTacThuoc_Thuoc1] FOREIGN KEY([maATC_1])
REFERENCES [dbo].[Thuoc] ([maATC])
GO
ALTER TABLE [dbo].[TuongTacThuoc] CHECK CONSTRAINT [FK_TuongTacThuoc_Thuoc1]
GO
ALTER TABLE [dbo].[TuongTacThuoc]  WITH CHECK ADD  CONSTRAINT [FK_TuongTacThuoc_Thuoc2] FOREIGN KEY([maATC_2])
REFERENCES [dbo].[Thuoc] ([maATC])
GO
ALTER TABLE [dbo].[TuongTacThuoc] CHECK CONSTRAINT [FK_TuongTacThuoc_Thuoc2]
GO
ALTER TABLE [dbo].[BenhNhan]  WITH CHECK ADD  CONSTRAINT [CK_BenhNhan_CanNang] CHECK  (([canNang] IS NULL OR [canNang]>(0)))
GO
ALTER TABLE [dbo].[BenhNhan] CHECK CONSTRAINT [CK_BenhNhan_CanNang]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [CK_ChiTietDonThuoc_SoLuong] CHECK  (([soLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [CK_ChiTietDonThuoc_SoLuong]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_TenDangNhap] CHECK  ((len([tenDangNhap])>=(4)))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_TenDangNhap]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_VaiTro] CHECK  (([vaiTro]='Duoc si' OR [vaiTro]='Bac si' OR [vaiTro]=N'Dược sĩ' OR [vaiTro]=N'Bác sĩ' OR [vaiTro]=N'Admin'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_Thuoc_TonKho] CHECK  (([tonKhoHienTai]>=(0)))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [CK_Thuoc_TonKho]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_Thuoc_TonToiThieu] CHECK  (([tonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [CK_Thuoc_TonToiThieu]
GO
ALTER TABLE [dbo].[TuongTacThuoc]  WITH CHECK ADD  CONSTRAINT [CK_TuongTacThuoc_ThuTu] CHECK  (([maATC_1]<[maATC_2]))
GO
ALTER TABLE [dbo].[TuongTacThuoc] CHECK CONSTRAINT [CK_TuongTacThuoc_ThuTu]
GO
/****** Object:  Trigger [dbo].[trg_PreventDeleteAuditLog]    Script Date: 23/06/2026 1:38:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.2. Ngăn chặn DELETE trên AuditLog
CREATE TRIGGER [dbo].[trg_PreventDeleteAuditLog]
ON [dbo].[AuditLog]
FOR DELETE
AS
BEGIN
    RAISERROR (N'HỆ THỐNG TỪ CHỐI: Không được phép xóa (Delete) nhật ký thao tác trên bảng AuditLog.', 16, 1);
    ROLLBACK TRANSACTION;
END;
GO
ALTER TABLE [dbo].[AuditLog] ENABLE TRIGGER [trg_PreventDeleteAuditLog]
GO
/****** Object:  Trigger [dbo].[trg_PreventUpdateAuditLog]    Script Date: 23/06/2026 1:38:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- PHẦN 3: TẠO TRIGGERS BẢO VỆ DỮ LIỆU
-- ==========================================

-- 3.1. Ngăn chặn UPDATE trên AuditLog
CREATE TRIGGER [dbo].[trg_PreventUpdateAuditLog]
ON [dbo].[AuditLog]
FOR UPDATE
AS
BEGIN
    RAISERROR (N'HỆ THỐNG TỪ CHỐI: Không được phép sửa đổi (Update) dữ liệu trên bảng AuditLog.', 16, 1);
    ROLLBACK TRANSACTION;
END;
GO
ALTER TABLE [dbo].[AuditLog] ENABLE TRIGGER [trg_PreventUpdateAuditLog]
GO
/****** Object:  Trigger [dbo].[trg_AuditLog_NguoiDung_Update]    Script Date: 23/06/2026 1:38:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.3. Trigger lưu vết khi UPDATE bảng NguoiDung
CREATE TRIGGER [dbo].[trg_AuditLog_NguoiDung_Update]
ON [dbo].[NguoiDung]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(vaiTro) OR UPDATE(trangThai)
    BEGIN
        INSERT INTO AuditLog (userID, hanhDong, tenBang, thoiGian, giaTriCu, giaTriMoi, lyDoOverride)
        SELECT 
            i.userId,
            N'Cập nhật', 
            'NguoiDung', 
            CURRENT_TIMESTAMP,
            CONCAT('vaiTro: ', d.vaiTro, ', trangThai: ', d.trangThai),
            CONCAT('vaiTro: ', i.vaiTro, ', trangThai: ', i.trangThai),
            N'Thay đổi phân quyền hoặc trạng thái tài khoản'
        FROM inserted i
        INNER JOIN deleted d ON i.userId = d.userId
        WHERE i.vaiTro <> d.vaiTro OR i.trangThai <> d.trangThai;
    END
END;
GO
ALTER TABLE [dbo].[NguoiDung] ENABLE TRIGGER [trg_AuditLog_NguoiDung_Update]
GO
/****** Object:  Trigger [dbo].[trg_AuditLog_Thuoc_Insert]    Script Date: 23/06/2026 1:38:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.4. Trigger lưu vết khi INSERT bảng Thuoc
CREATE TRIGGER [dbo].[trg_AuditLog_Thuoc_Insert]
ON [dbo].[Thuoc]
AFTER INSERT
AS
BEGIN
    INSERT INTO AuditLog (userID, hanhDong, tenBang, thoiGian, giaTriCu, giaTriMoi, lyDoOverride)
    SELECT 
        1, 
        N'Thêm mới', 
        'Thuoc', 
        CURRENT_TIMESTAMP,
        '',
        CONCAT('thuocID: ', i.thuocID, ', ten: ', i.tenThuongMai),
        ''
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[Thuoc] ENABLE TRIGGER [trg_AuditLog_Thuoc_Insert]
GO
USE [master]
GO
